* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-actions-cont {
  height: 3rem;
  background-color: #27ae60;
  display: flex;
  align-items: flex-end;
  padding-left: 1rem;
}
.page-action {
  margin: 0.5rem;
  color: white;
}
.cellprop-actions-cont {
  height: 3rem;
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.cellprop-actions-cont > * {
  display: inline-block;
  margin-right: 1rem;
  /*<span>tag doesn't accept margin, padding you need to add some css style and make your <span> tag as block or inline-block in order to use margin, padding for <span> tags */
}
.cellprop-actions-cont > select {
  border: none;
  outline: none;
  border-radius: 2px;
}
.font-family-prop {
  padding: 0.2rem;
}
.font-size-prop {
  padding: 0.2rem;
}
.formula-actions-cont {
  height: 2rem;
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: calc(1rem - 0.7rem);
}
.formula-actions-cont > * {
  display: inline-block;
  margin-right: 0.7rem;
}
.formula-actions-cont > input {
  border: none;
  outline: none;
  height: 70%;
}
.formula-icon {
  height: 1.2rem;
  width: 1.2rem;
}
.address-bar {
  width: 5rem;
  text-align: center;
}
.formula-bar {
  width: calc(100vw - 5rem - 0.7rem - 0.7rem - 0.7rem);
}
.sheet-actions-cont {
  height: 3rem;
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  gap: 1rem;
}
.sheet-actions-cont > * {
  display: inline-block;
}

.grid-cont {
  height: calc(100vh - 3rem - 3rem - 2rem - 3rem - 2px);
  position: relative; /*I am giving relative to the parent of my position: absolute because I wanted that values to react acoording to this box and not the global box*/
  overflow: scroll;
  background-color: #ecf0f1;
  background-color: white;
}
.sheet-add-icon {
  width: 2rem;
}

.sheets-folder-cont {
  /* background-color: yellow; */
  height: 80%;
  width: calc(100vw - 2rem);
  display: flex;
  align-items: center;
}
.sheet-folder {
  text-decoration: underline;
  font-weight: bold;
  text-decoration-thickness: 1.5px;
  font-size: 0.9rem;
}

/* For the Grid */

.top-left-dummy-box {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: 1px solid #ecf0f1;
  position: fixed;
  z-index: 5; /*Position is manditory to apply z-index*/
}
.address-col-cont {
  position: sticky;
  top: 2rem;
  left: 0;
}

.address-col {
  width: 2rem;
  height: 2rem;
  border: 1px solid #ecf0f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.address-row-cont {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  margin-right: calc(2rem - 1px);
}
.address-row {
  border: 1px solid #ecf0f1;
  width: 5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cells-cont {
  position: absolute;
  top: 0;
  left: 2rem;
}

.row-cont {
  display: flex; /*because the cell is inside the row-cont and it was comming like flex direction : column*/
}
.cell {
  width: 5rem;
  height: 2rem;
  border: 1px solid #ecf0f1;
  overflow: auto;
  outline-color: grey;
}
